---
name: OWASP dep-scan
on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: read

jobs:
  owasp-dep-scan:
    name: OWASP dep-scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Restore cached VDB
        id: restore-cache
        uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}/vdb
          key: vdb-app-data
      - name: OWASP dep-scan
        uses: addnab/docker-run-action@4f65fabd2431ebc8d299f8e5a018d79a769ae185 #v3
        with:
          image: ghcr.io/owasp-dep-scan/dep-scan:v6.0.0b3
          options: >
            -v ${{ github.workspace }}:/github/workspace
            -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
            -e VDB_HOME=/github/workspace/vdb
            -e VDB_DATABASE_URL=ghcr.io/appthreat/vdbxz-app:v6.4.x
            --user root
          run: >
            depscan --src /github/workspace --profile appsec --reports-dir /github/workspace/reports
      - name: Cache VDB
        uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}/vdb
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: reports
          path: ${{ github.workspace }}/reports
